/*  your css code here. If applicable */
/* span:first-child,span:last-child{
	color;
/* 	font-weight:; */
	
div::before {
	content:'Before Element ';
	color:red;
/* 	font-size:19px; */
}
div::after{
	content:'After Element ';
	color:red;
/* 	font-size:19px; */
}